<%= form_tag posts_path, :method => 'get' do %>
<p>
  <%= radio_button_tag :post_search,  'title', :checked => 'checked' %>
  <%= label_tag :post_search_title, 'タイトル検索' %>
  <%= radio_button_tag :post_search, 'tag' %>
  <%= label_tag :post_search_tag, 'タグ検索' %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'で検索', :title => nil %>
</p>
<% end %>
<% @posts.order(created_at: :desc).each do |post| %>
<li>
  <%= link_to post.title, post_path(post) %>
  作成者[<%= post.user.username %>]
  コメント数(<%= post.comments.count + post.replies.count %>)
  <!-- ログイン時のみ表示 -->
  <% if user_signed_in? %>
    <% if post.user_id == current_user.id %>
    <%= link_to '[編集]', edit_post_path(post) %>
    <%= link_to '[削除]',
      post_path(post),
      method: :delete,
      data: { confirm: '本当に削除しますか？' } %>
    <% end %>
  <% end %>
</li>
<% end %>
