<h2>新規作成</h2>
<%= form_for @post do |f| %>
<h3>タイトル</h3>
<p><%= f.text_field :title, size: '55' %></p>
<h3>内容</h3>
<p>
  <%= f.text_area :body, size: '53x10' %>
</p>
<h3>タグ(カンマ区切り)</h3>
<%= f.fields_for :tags do |tag| %>
<%= tag.text_field :category, size: '55' %>
<% end %>
<p>
  <%= f.submit '作成' %>
</p>
<% end %>
