<!DOCTYPE html>
<html>
  <head>
    <title>K-board</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to image_tag('logo.png', class: 'logo'), root_path %></h1>
      <% if user_signed_in? %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        <%= link_to '新規', new_post_path %>
        <p>ようこそ <%= current_user.username %> さん</p>
      <% else %>
        <%= link_to 'アカウント登録', new_user_registration_path %>
        <%= link_to 'ログイン', new_user_session_path %>
      <% end %>
      <%= link_to '検索', posts_path %>
    </header>
    <%= yield %>
  </body>
</html>
